.navbar{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.nav-list li a{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.44351px;
    color: $primary;
}

.search-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
}

.search-list li{
    cursor: pointer;
}